<div class="row-container">
    <div class="imag1">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             alt="Illustration" height="100%" width="50%">
    </div>
    <div class="container">
        <div class="content">
            <h3>Login!</h3>
            <p class="small-text">Please sign-in to your account and start the Task! 👋🏻</p>
            <!-- Login form -->
            <form>
                <div class="form-group">
                    <label for="email" class="small-text1">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter your Email"
                           [(ngModel)]="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="small-text1">Password</label>
                    <div class="password-input">
                        <input type="{{ show ? 'text' : 'password' }}" class="form-control"
                               placeholder="Enter your password" [(ngModel)]="password" name="password" required>
                        <span class="password-toggle" (click)="togglePassword()">
                            <i class="fas fa-eye" [ngClass]="show ? 'fa-eye-slash' : 'fa-eye'"></i>

                        </span>
                    </div>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" id="remember" class="small-text2">
                        Remember me
                    </label>
                </div>
                <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            </form>
            <div class="signup-or small-text">
                <p>New to the Task Board? <a routerLink="/register">Create an account</a></p>
            </div>
        </div>
    </div>
</div>
